# 6.1 Data Cleaning and Descriptive Analysis

- 1. Import Libraries and data
- 2. Data cleaning 
- 3. Consistency Checks
- 4. Descriptive Statistical Analysis
- 5. Export Data

## 1. Import libraries

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
#Assign project folder path to string variable 'path'
path = r'C:\Users\Caroline\Documents\Career Foundry\06 2023 EVCS washington state'

In [3]:
#Import WA_EVCS.csv data set using os library 
df_station = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'WA_EVCS.csv'), index_col = False)

In [4]:
#Import WA_EV_list.csv data set using os library 
df_ev_data = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'WA_EV_list.csv'))

In [5]:
#Import ev_PopHist.csv data set using os library 
df_ev_hist = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'ev_PopHist.csv'))

In [6]:
#Import city.csv data set using os library 
df_city = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'city.csv'))

In [7]:
#Import wa PopCounty.csv data set using os library 
df_pop = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'wa PopCounty.csv'))

## 2. Data Cleaning

### 2a. Data Cleaning - WA_EVCS.csv

In [8]:
# print the number of rows and colummns of df_station
print(df_station.shape)

(1900, 22)

In [9]:
# Get summary information on df_station
df_station.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1900 entries, 0 to 1899
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   1900 non-null   int64
 1   Station Name         1900 non-null   object
 2   City                 1900 non-null   object
 3   County               1900 non-null   object
 4   Latitude             1900 non-null   float64
 5   Longitude            1900 non-null   float64
 6   EV Level1            1900 non-null   int64
 7   EV Level2            1900 non-null   int64
 8   EV Level3            1900 non-null   int64
 9   Open Date            1900 non-null   object
 10  EV Network           1900 non-null   object
 11  Facility Type        294 non-null    object
 12  Restricted Access    267 non-null    object
 13  EV Pricing           542 non-null    object
 14  EV Connector Types   1900 non-null   object
 15  EV_Connect NEMA515   1900 non-null   bool
 16  EV_Connect NEMA520   1900 non-null   bool
 17  EV_Connect NEMA1450  1900 non-null   bool
 18  EV_Connect CCS       1900 non-null   bool
 19  EV_Connect CHADEMO   1900 non-null   bool
 20  EV_Connect TESLA     1900 non-null   bool
 21  EV_Connect J1772     1900 non-null   bool
dtypes: bool(7), float64(2), int64(4), object(9)
memory usage: 235.8+ KB

In [10]:
# remove duplicate rows
df_station = df_station.drop_duplicates()

In [11]:
# dropping the 'Facility Type' column because of minimal value and overwriting df_station
df_station = df_station.drop(columns = ['Facility Type'])

In [12]:
# Get size information on df_station
df_station.shape

(1900, 21)

In [13]:
#checking for missing values - Restricted Access possibly useful, keep column
df_station['Restricted Access'].value_counts(dropna = False)

In [14]:
#checking for missing values - EV Pricing possibly useful, keep column - possilby useful to filter
df_station['EV Pricing'].value_counts(dropna = False)

In [15]:
# Checking for mixed data types in df_station
for col in df_station.columns.tolist():
  weird = (df_station[[col]].applymap(type) != df_station[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_station[weird]) > 0:
    print (col)
print ('test complete - this statement will always print')

In [16]:
# checking for outliers
df_station.describe()

### 2b. Data Cleaning - WA_EV_list.csv

In [17]:
# Get summary information on df_ev_data
df_ev_data.info()

In [18]:
# remove duplicate rows
df_ev_data = df_ev_data.drop_duplicates()

In [19]:
#select rows with missing data
row_missing = df_ev_data[df_ev_data.isna().any(axis=1)]

In [20]:
print(row_missing)

In [21]:
# Fill missing values with a specific number - Long Beach, WA is at 46.3523° N, 124.0543° W
df_ev_data['Longitude'] = df_ev_data['Longitude'].fillna(-124.0543)
df_ev_data['Latitude'] = df_ev_data['Latitude'].fillna(46.3523)

In [22]:
# Checking for mixed data types in df_ev_data
for col in df_ev_data.columns.tolist():
  weird = (df_ev_data[[col]].applymap(type) != df_ev_data[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ev_data[weird]) > 0:
    print (col)
print ('test complete - this statement will always print')

In [23]:
# checking for outliers
df_ev_data.describe()

### 2c. Data Cleaning - ev_PopHist.csv

In [24]:
# Get summary information on df_ev_hist
df_ev_hist.info()

In [25]:
# remove duplicate rows
df_ev_hist = df_ev_hist.drop_duplicates()

In [26]:
# Checking for mixed data types in df_ev_hist
for col in df_ev_hist.columns.tolist():
  weird = (df_ev_hist[[col]].applymap(type) != df_ev_hist[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ev_hist[weird]) > 0:
    print (col)
print ('test complete - this statement will always print')

In [27]:
# checking for outliers
df_ev_hist.describe()

### 2d. Data Cleaning - city.csv

In [28]:
# Get summary information on df_city
df_city.info()

In [29]:
# remove duplicate rows
df_city = df_city.drop_duplicates()

In [30]:
# checking for outliers
df_city.describe()

### 2e. Data Cleaning - wa PopCounty.csv

In [31]:
# Get summary information on df_pop
df_pop.info()

In [32]:
# remove duplicate rows
df_pop = df_pop.drop_duplicates()

In [33]:
# checking for outliers
df_pop.describe()

## 3. Consistency Checks

### 3a. Consistency Checks - df_station

In [13]:
# Get summary information on df_station
df_station.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1900 entries, 0 to 1899
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   1900 non-null   int64
 1   Station Name         1900 non-null   object
 2   City                 1900 non-null   object
 3   County               1900 non-null   object
 4   Latitude             1900 non-null   float64
 5   Longitude            1900 non-null   float64
 6   EV Level1            1900 non-null   int64
 7   EV Level2            1900 non-null   int64
 8   EV Level3            1900 non-null   int64
 9   Open Date            1900 non-null   object
 10  EV Network           1900 non-null   object
 11  Restricted Access    267 non-null    object
 12  EV Pricing           542 non-null    object
 13  EV Connector Types   1900 non-null   object
 14  EV_Connect NEMA515   1900 non-null   bool
 15  EV_Connect NEMA520   1900 non-null   bool
 16  EV_Connect NEMA1450  1900 non-null   bool
 17  EV_Connect CCS       1900 non-null   bool
 18  EV_Connect CHADEMO   1900 non-null   bool
 19  EV_Connect TESLA     1900 non-null   bool
 20  EV_Connect J1772     1900 non-null   bool
dtypes: bool(7), float64(2), int64(4), object(8)
memory usage: 235.6+ KB

In [14]:
#reduce data size of df_station  
df_station['ID'] = df_station['ID'].astype('str')
df_station['EV Level1'] = df_station['EV Level1'].astype('int8')
df_station['EV Level2'] = df_station['EV Level2'].astype('int8')
df_station['EV Level3'] = df_station['EV Level3'].astype('int8')

In [15]:
# Convert the Open date string to a timestamp object
df_station['Open Date2'] = pd.to_datetime(df_station['Open Date'])

In [16]:
# Get summary information on df_station
df_station.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1900 entries, 0 to 1899
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   1900 non-null   object
 1   Station Name         1900 non-null   object
 2   City                 1900 non-null   object
 3   County               1900 non-null   object
 4   Latitude             1900 non-null   float64
 5   Longitude            1900 non-null   float64
 6   EV Level1            1900 non-null   int8
 7   EV Level2            1900 non-null   int8
 8   EV Level3            1900 non-null   int8
 9   Open Date            1900 non-null   object
 10  EV Network           1900 non-null   object
 11  Restricted Access    267 non-null    object
 12  EV Pricing           542 non-null    object
 13  EV Connector Types   1900 non-null   object
 14  EV_Connect NEMA515   1900 non-null   bool
 15  EV_Connect NEMA520   1900 non-null   bool
 16  EV_Connect NEMA1450  1900 non-null   bool
 17  EV_Connect CCS       1900 non-null   bool
 18  EV_Connect CHADEMO   1900 non-null   bool
 19  EV_Connect TESLA     1900 non-null   bool
 20  EV_Connect J1772     1900 non-null   bool
 21  Open Date2           1900 non-null   datetime64[ns]
dtypes: bool(7), datetime64[ns](1), float64(2), int8(3), object(9)
memory usage: 211.5+ KB

### 3b. Consistency Checks - df_ev_data

In [38]:
# Get summary information on df_ev_data
df_ev_data.info()

In [39]:
#reduce data size of df_ev_data
df_ev_data['Index'] = df_ev_data['Index'].astype('str')
df_ev_data['Model Year'] = df_ev_data['Model Year'].astype('int16')

In [40]:
# Get summary information on df_ev_data
df_ev_data.info()

In [41]:
# Check datasets to determine on which column the data can relate

In [42]:
# Step 1: Ensure tables have the same key columns to relate
key_CityCounty = ['City', 'County']
key_county = ['County']

In [43]:
# Step 2: Identify unique values in the key columns for each table
df_station_unique_cities = df_station['City'].unique()
df_station_unique_counties = df_station['County'].unique()

df_ev_data_unique_cities = df_ev_data['City'].unique()
df_ev_data_unique_counties = df_ev_data['County'].unique()

df_ev_hist_unique_counties = df_ev_hist['County'].unique()

df_pop_unique_counties = df_pop['County'].unique()

df_city_unique_cities = df_city['City'].unique()
df_city_unique_counties = df_city['County'].unique()

In [44]:
# Step 3: Compare the unique values
# Check if unique counties in df_city exist in df_pop
counties_in_df_City_not_in_df_pop = set(df_city_unique_counties) - set(df_pop_unique_counties)
if len(counties_in_df_City_not_in_df_pop) > 0:
    print(f"Counties in df_city that are not in df_pop: {counties_in_df_City_not_in_df_pop}")

In [45]:
# Check if unique counties in df_city exist in df_ev_hist
counties_in_df_City_not_in_df_ev_hist = set(df_city_unique_counties) - set(df_ev_hist_unique_counties)
if len(counties_in_df_City_not_in_df_ev_hist) > 0:
    print(f"Counties in df_city that are not in df_ev_hist: {counties_in_df_City_not_in_df_ev_hist}")

In [46]:
# Check if unique counties in df_station exist in df_pop
counties_in_df_station_not_in_df_pop = set(df_station_unique_counties) - set(df_pop_unique_counties)
if len(counties_in_df_station_not_in_df_pop) > 0:
    print(f"Counties in df_station that are not in df_pop: {counties_in_df_station_not_in_df_pop}")

In [47]:
# Check if unique counties in df_ev_data exist in df_pop
counties_in_df_ev_data_not_in_df_pop = set(df_ev_data_unique_counties) - set(df_pop_unique_counties)
if len(counties_in_df_ev_data_not_in_df_pop) > 0:
    print(f"Counties in df_ev_data that are not in df_pop: {counties_in_df_ev_data_not_in_df_pop}")

Tables can be connected on the 'County' column. Remember that df_ev_hist is a time series.

In [48]:
# Check if unique cities in df_station exist in df_city
cities_in_df_station_not_in_df_city = set(df_station_unique_cities) - set(df_city_unique_cities)
if len(cities_in_df_station_not_in_df_city) > 0:
    print(f"Counties in df_station that are not in df_city: {cities_in_df_station_not_in_df_city}")

In [49]:
# Check if unique cities in df_ev_data exist in df_city
cities_in_df_ev_data_not_in_df_city = set(df_ev_data_unique_cities) - set(df_city_unique_cities)
if len(cities_in_df_ev_data_not_in_df_city) > 0:
    print(f"Counties in df_ev_data that are not in df_city: {cities_in_df_ev_data_not_in_df_city}")

While the City, EVCS, and EV_list tables can be connected on the 'City' column, the data will be incomplete
Join on 'City' column with caution.

## 4. Summary Statistics

In [17]:
# Summary statistics (mean, standard deviation, etc.) for numerical columns
df_station.describe()

          Latitude    Longitude    EV Level1    EV Level2    EV Level3
count  1900.000000  1900.000000  1900.000000  1900.000000  1900.000000
mean     47.461085  -121.890658     0.036316     1.945263     0.492105
std       0.599318     1.368342     0.907663     1.672235     1.894656
min      45.562567  -124.662924     0.000000     0.000000     0.000000
25%      47.320107  -122.374133     0.000000     1.000000     0.000000
50%      47.614112  -122.310033     0.000000     2.000000     0.000000
75%      47.660407  -122.176008     0.000000     2.000000     0.000000
max      48.995255  -117.043496    36.000000    24.000000    20.000000

In [51]:
# Summary statistics (mean, standard deviation, etc.) for numerical columns
df_ev_data.describe()

In [52]:
# Summary statistics (mean, standard deviation, etc.) for numerical columns
df_ev_hist.describe()

In [53]:
# Summary statistics (mean, standard deviation, etc.) for numerical columns
df_pop.describe()

In [54]:
# Summary statistics (mean, standard deviation, etc.) for numerical columns
df_city.describe()

## 5. Exporting Data

In [55]:
#Export df_station in .pkl format
df_station.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'EVCS.pkl'))

In [56]:
#Export df_ev_data in .pkl format
df_ev_data.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'EV list.pkl'))

In [57]:
#Export df_ev_hist in .pkl format
df_ev_hist.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'EV sales hist.pkl'))

In [58]:
#Export df_pop in .pkl format
df_pop.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'County pop.pkl'))

In [59]:
#Export df_city in .pkl format
df_city.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'WA cities.pkl'))